body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2968px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2968px;
  line-height:28px;
}
#u1800 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u1801 {
  position:absolute;
  left:32px;
  top:765px;
  width:402px;
  height:69px;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1804 {
  position:absolute;
  left:100px;
  top:0px;
  width:180px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u1806 {
  position:absolute;
  left:280px;
  top:0px;
  width:117px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1808 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1810 {
  position:absolute;
  left:100px;
  top:32px;
  width:180px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1811 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u1812 {
  position:absolute;
  left:280px;
  top:32px;
  width:117px;
  height:32px;
  font-size:14px;
  line-height:28px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
