body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:980px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:980px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:482px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2120 {
  position:absolute;
  left:60px;
  top:60px;
  width:1605px;
  height:35px;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2122 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:145px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2124 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2125 {
  position:absolute;
  left:290px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2126 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2127 {
  position:absolute;
  left:435px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2128 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2129 {
  position:absolute;
  left:580px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2130 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:725px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2132 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:870px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2134 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:1015px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2136 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:1160px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2138 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:1305px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2140 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2141 {
  position:absolute;
  left:1450px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2142 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:60px;
  top:90px;
  width:1600px;
  height:825px;
}
#u2143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:825px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:60px;
  top:925px;
  width:1600px;
  height:30px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147 {
  position:absolute;
  left:74px;
  top:930px;
  width:40px;
  height:20px;
}
#u2147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2147_input:disabled {
  color:grayText;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2148 {
  position:absolute;
  left:124px;
  top:930px;
  width:95px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:1360px;
  top:930px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:1385px;
  top:930px;
  width:20px;
  height:20px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:1410px;
  top:930px;
  width:20px;
  height:20px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:1435px;
  top:930px;
  width:20px;
  height:20px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:1460px;
  top:930px;
  width:20px;
  height:20px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:1335px;
  top:930px;
  width:20px;
  height:20px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:1485px;
  top:930px;
  width:20px;
  height:20px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:1310px;
  top:930px;
  width:20px;
  height:20px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(218, 221, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 221, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  position:absolute;
  left:1510px;
  top:930px;
  width:20px;
  height:20px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2168 {
  position:absolute;
  left:1540px;
  top:930px;
  width:79px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2170 {
  position:absolute;
  left:80px;
  top:20px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2172 {
  position:absolute;
  left:155px;
  top:15px;
  width:180px;
  height:25px;
}
#u2172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2173 {
  position:absolute;
  left:338px;
  top:18px;
  width:18px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2175 {
  position:absolute;
  left:353px;
  top:15px;
  width:180px;
  height:25px;
}
#u2175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:835px;
  top:15px;
  width:80px;
  height:25px;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2178 {
  position:absolute;
  left:555px;
  top:20px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2180 {
  position:absolute;
  left:630px;
  top:15px;
  width:180px;
  height:25px;
}
#u2180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
