body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:4116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:4116px;
  line-height:28px;
}
#u1797 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
